@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
html {
	scroll-behavior: smooth;
}
.navbar {
	font-family: Poppins !important;
}

img {
	width: 100%;
	height: auto;
}
.nav-link span {
	animation: animate 1s ease alternate infinite !important;
}
@keyframes animate {
	0% {
		font-size: 15px;
	}
	100% {
		font-size: 16px;
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	font-family: Poppins !important;
	font-size: 15px;
	content: ">" !important;
}

::-webkit-scrollbar {
	width: 1px;
}

#progressbar#progressbar#progressbar {
	position: fixed !important;
	top: 55px !important;
	right: 0 !important;
	width: 15px !important;
	height: calc(0% - 55px);
	border-radius: 10px !important;
	background: linear-gradient(
		to top,
		#fcb045,
		#fd1d1d,
		#833ab4
	) !important;
}
.btn-block {
	font-size: 30px !important;
	transition: 0.5s cubic-bezier(0.25, 0.1, 0.4, 2.2);
}
.btn-block:nth-child(1) {
	background-color: #fcb045;
}
.btn-block:nth-child(2) {
	background-color: #fd1d1d;
}
.btn-block:nth-child(3) {
	background-color: #833ab4;
}
.btn-block a {
	text-decoration: none;
	color: inherit;
}
.btn-block:hover {
	font-size: 35px !important;
}
a {
	text-decoration: none !important;
	color: inherit;
}
#myBtn {
	display: block;
	opacity: 0;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: transparent;
	color: red;
	cursor: pointer;
	padding: 2px 2px;
	border-radius: 10px;
	font-size: 36px;
	transition: 0.5s;
}
#myBtn:hover {
	transform: scale(1.2);
}
.card-column .card {
	display: inline-block;
}
