@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Fira+Code");
html {
	scroll-behavior: smooth;
	font-variant-ligatures: normal !important;
}
.navbar {
	font-family: -apple-system, Poppins !important;
}
.nav-link {
	animation: animate 1s ease alternate infinite !important;
}

.carousel-item img {
	width: 100%;
}

.container img {
	margin: 10px 0;
}

img.img-enlargable {
	width: 100%;
}

.thumbnail {
	border-bottom: none !important;
}

@keyframes animate {
	0% {
		transform: scale(1.0) !important;
	}
	100% {
		transform: scale(1.2) !important;
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	font-family: Poppins !important;
	font-size: 15px;
	content: ">" !important;
}

::-webkit-scrollbar {
	width: 1px;
}

#progressbar#progressbar#progressbar {
	position: fixed !important;
	top: 55px !important;
	right: 0 !important;
	width: 15px !important;
	height: calc(0% - 55px);
	border-radius: 10px !important;
	background: linear-gradient(
		to top,
		#fcb045,
		#fd1d1d,
		#833ab4
	) !important;
}
.btn-block {
	font-size: 30px !important;
	transition: 0.5s cubic-bezier(0.25, 0.1, 0.4, 2.2);
}
.btn-block:nth-child(1) {
	background-color: #fcb045;
}
.btn-block:nth-child(2) {
	background-color: #fd1d1d;
}
.btn-block:nth-child(3) {
	background-color: #833ab4;
}
.btn-block a {
	text-decoration: none;
	color: inherit;
}
.btn-block:hover {
	font-size: 35px !important;
}
.container a:hover {
	text-decoration: underline !important;
}
#myBtn {
	display: block;
	opacity: 0;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: transparent;
	color: red;
	cursor: pointer;
	padding: 2px 2px;
	border-radius: 10px;
	font-size: 36px;
	transition: 0.5s;
}
#myBtn:hover {
	transform: scale(1.2);
}
.card-column .card {
	display: inline-block;
}
h4 {
	padding-top: 20px;
}
firacode {
	font-family: "Fira Code";
	font-size: 40px;
	font-variant-ligatures: normal;
}
.container a::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f0c1   ";
}
code,
pre {
	background-color: transparent;
	font-family: 'Fira Code', monospace;
}
body .gist .highlight {
	background-color: transparent;
	font-family: 'Fira Code', monospace;
	font-size: 14px;
}
body .gist .blob-num {
	color: #ced4da;
	background-color: #495057;
	pointer-events: none;
}
body .gist .highlight td {
	padding: 5px 15px !important;
	padding-bottom: 0;
	line-height: 0.8;
	font-family: inherit;
	font-size: inherit;
}
.carousel-control-next::before,
.carousel-control-prev::before,
.gist-meta a::before,
[no-link]::before,
button a::before,
.btn::before,
.gist a::before {
	content: "" !important;
}
.gist a {
	color: #0366d6;
}
.container img {
	cursor: zoom-in;
}
[discord] {
	position: fixed;
	z-index: 2;
	top: 55px;
	right: 55px;
	opacity: 0;
	transition: all 2s;
}
[discord]:hover {
	opacity: 1;
}
i.fab,
i.fas {
	transform: scale(1.2);
}
mono {
	font-family: "Fira Code", monospace;
}
.card-body {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.card-footer {
	height: 3.5rem;
}
